{% extends 'navbar.html' %}

{% block title %}Duplicate Pub{% endblock %}

{% block script %}

<script>
    function onLoad() {
        pub = {{ pub | tojson }}
        dupe_id = pub[0]['identity']
        if (confirm("The location: " + pub[0]['name'] + "  has already been added\n OK to view the venue or, \n CANCEL to return to the ADD screen")) {
            location.href = '/pub/' + dupe_id;
        } else {
            location.href = '/pub/add';
        }
    }

</script>
{% endblock %}

{% block pub_add_btn %}{% endblock %}
{% block pub_read_btn %}{% endblock %}
{% block pub_edit_btn %}{% endblock %}
{% block pub_del_btn %}{% endblock %}
{% block rev_read_btn %}{% endblock %}
{% block rev_add_btn %}{% endblock %}
{% block rev_edit_btn %}{% endblock %}
{% block rev_del_btn %}{% endblock %}
